.vertical-form
	.block
		width 100%
		display block
	.right
		// float right
		position absolute
		top 25px
		right 40px
	a.row:hover
		background $dark_border
	.row
		// margin 0 25px
		padding 22px 40px
		border-bottom 1px solid $dark_border
		font-size 14px
		position relative
		display block
		// overflow auto
		text-decoration none
		&:last-child
			border-bottom none
		&.highlight
			background $highlight
			&:hover
				background $highlight_dark
		&.group
			padding-top 60px
			label
				font-size 12px
				text-transform uppercase
		label, .value
			font-size 14px
			display inline-block
		label
			width 25%
			padding-right 20px
			text-align right
			vertical-align top
			opacity .5
		.value
			width 75%
			background none
			border none
			outline none
	.group
		.toggle
			border-radius 0
			border-right 1px solid $highlight_dark
			float left
			&.disabled
				border-right 1px solid rgba(0,0,0,.4)
			&:first-child
				border-radius 16px 0 0 16px
			&:last-child
				border-radius 0 16px 16px 0
				border-right none
	.toggle
		display inline-block
		padding 0 15px
		border-radius 14px
		background $highlight
		text-decoration none
		line-height 28px
		font-size 12px
		input
			background none
			border none
			outline none
		&:hover
			background $highlight_dark
			text-decoration none
		&.danger
				background #F54828
		&.disabled
			background rgba(0,0,0,.2)
			&:hover
				background rgba(0,0,0,.4)

.hidden
	display none
