ul.items
	margin 0
	padding 0
	list-style none
	line-height 60px
	font-size 14px
	li
		padding 0 30px
		display block
		&.alternate:nth-child(2n)
			margin 2px 0
			background rgba(0,0,0,.1)
		.option
			padding 0 20px
			line-height 60px
			background $highlight
			display inline-block
			text-decoration none
			font-size 13px
			&.danger
				background #F66B3A
			&.disabled
				background none
		&.group
			padding-top 30px
			.label
				font-size 11px
				font-weight 700
				text-transform uppercase
			& + li .value
				border-top 1px solid $dark_border
		&:hover:not(.group)
			background $dark_border
		.right
			float right
		.label, .value
			display inline-block
		.label
			padding-right 15px
			width 25%
			font-size 13px
			color rgb(150,150,150)
			text-align right
			vertical-align top
		.value
			width 75%
			border none
			border-bottom 1px solid $dark_border
			font-size 14px
			&.custom
				padding-top 15px
				padding-bottom 15px
				line-height normal
				min-height 60px
		input.value, select.value
			background none
			padding 0
			color white
			line-height 60px
			
.tag
	margin 2px
	padding 0 15px
	display inline-block
	background $highlight
	color white
	line-height 30px
	font-size 12px
	border-radius 15px
	text-decoration none
	&.disabled
		background rgb(80,80,80)
	.delete
		margin-left 5px
		float right
		font-size 15px
			
.icon-left
	margin-right 8px	

.block
	width 100%
	display block

input, select
	min-width 200px
	padding 5px 8px
	background white
	border 1px solid rgb(200,200,200)
	outline none
	font-size 13px