div(ng-include='"components/navbar/navbar.html"')

.wrapper
  .page.dark.no-shadow
    form.content(name='form', ng-submit='login(form)', novalidate='')
      h1 Login
      div
        label Email
      div
        input.form-control(type='text', name='email', ng-model='user.email')
      div
        label Password
      div
        input.form-control(type='password', name='password', ng-model='user.password')
      button.btn.btn-inverse.btn-lg.btn-login(type='submit') Login