@import "font-awesome/css/font-awesome.css"

//
// Font Awesome Fonts
//

@font-face
  font-family: 'Clear Sans'
  src: url('../assets/fonts/ClearSans-Regular-webfont.eot')
  src: url('../assets/fonts/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/ClearSans-Regular-webfont.woff') format('woff'),
  url('../assets/fonts/ClearSans-Regular-webfont.ttf') format('truetype'),
  url('../assets/fonts/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg')
  font-weight: 500
  font-style: normal
  
@font-face
  font-family: 'Clear Sans'
  src: url('../assets/fonts/ClearSans-Light-webfont.eot')
  src: url('../assets/fonts/ClearSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/ClearSans-Light-webfont.woff') format('woff'),
  url('../assets/fonts/ClearSans-Light-webfont.ttf') format('truetype'),
  url('../assets/fonts/ClearSans-Light-webfont.svg#clear_sans_lightregular') format('svg')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'FontAwesome'
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0')
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg')
  font-weight: normal
  font-style: normal

//
// App-wide Styles
//

#master1
  transition all linear 1s
  .navbar
  .page
  #cover
    transition all ease-in-out .5s

#master.ng-enter
  .navbar
    transform translateY(-100px)
  .page
    opacity 0
    transform translateY(100px)
  #cover
    opacity 0

#master.ng-enter-active
  .navbar
    transform translateY(0)
  .page
    opacity 1
    transform translateY(0)
  #cover
    opacity 1

#master.ng-leave
  .navbar
    // transform translateY(0)
  .page
    opacity 1
    // transform translateY(0)
  #cover
    opacity 1

#master.ng-leave-active
  .navbar
    // transform translateY(-100px)
  .page
    opacity 0
    // transform translateY(100px)
  #cover
    opacity 0

.browsehappy
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0
    
*
  margin 0
  padding 0
  box-sizing border-box
  font-family 'Clear Sans'
  font-weight 300
  // font-size 14px

html, body
  background rgb(250,250,250)

// Responsive: Portrait tablets and up
// @media screen and (min-width: 768px)
//     .container
//         max-width 730px

// Component styles are injected through grunt
// injector
@import 'account/login/login.styl';
@import 'admin/admin.styl';
@import 'main/main.styl';
@import 'navbar.styl';
// endinjector