.sidebar(ng-controller='NavbarCtrl')
  a.sidebar-item(ui-sref="main")
    i.fa.fa-home
    span.hover Home
  a.sidebar-item(ui-sref="admin-posts", ng-class="{ 'selected': isActive('/posts') }")
    i.fa.fa-pencil
    span.hover Posts
  a.sidebar-item(ui-sref="admin-users", ng-class="{ 'selected': isActive('/users') }")
    i.fa.fa-user
    span.hover Users
  a.sidebar-item(ui-sref="admin-about", ng-class="{ 'selected': isActive('/about') }")
    i.fa.fa-question-circle
    span.hover About
  a.sidebar-item.bottom(href="javascript:", ng-click="logout()")
    i.fa.fa-sign-out
    span.hover Logout
