.wrapper(ng-controller='NavbarCtrl')
  .navbar
    .container
      a.navbar-brand(href="/", ng-hide="isActive('/admin')") BeepBoop
      a.navbar-brand(href="javascript:window.history.back();", ng-show="isActive('/admin')")
        i.fa.fa-arrow-left
      ul.nav.navbar-right
        li(ng-class='{active: isActive("/reviews")}')
          a(href="/")
            i.fa.fa-eye.icon-left
            | Reviews
        li(ng-class='{active: isActive("/discover")}')
          a(href="/discover")
            i.fa.fa-globe.icon-left
            | Discover
        li(ng-class='{active: isActive("/about")}')
          a(href="/about")
            i.fa.fa-question-circle.icon-left
            | About
        li(ng-hide="isLoggedIn")
          a(href="/login")
            i.fa.fa-bars
          ul#login.dropdown
            li
              a(href="/login") Login
            li
              a(href="/signup") Signup
        li(ng-if="isLoggedIn")
          a(href="javascript:")
            i.fa.fa-bars
          ul.dropdown
            li(ng-if="!isAdmin")
              a(href="/settings") Profile
            li(ng-if="isAdmin")
              a(href="/admin/posts") Administration
            li
              a(href="javascript:", ng-click="logout()") Logout
