.wrapper(ng-controller='NavbarCtrl')
  .navbar
    .container
      a.navbar-brand(href="/", ng-hide="isActive('/admin')") BeepBoop
      a.navbar-brand(href="javascript:window.history.back();", ng-show="isActive('/admin')")
        i.fa.fa-arrow-left
      ul.nav.navbar-right
        li(ng-class='{active: isActive("/reviews")}')
          a(href="/")
            i.fa.fa-eye.icon-left
            | Reviews
        li(ng-class='{active: isActive("/discover")}')
          a(href="/discover")
            i.fa.fa-globe.icon-left
            | Discover
        li(ng-class='{active: isActive("/about")}')
          a(href="/about")
            i.fa.fa-question-circle.icon-left
            | About
        li(ng-hide="isLoggedIn", ng-class='{active: isActive("/login")}')
          a(href="/login")
            i.fa.fa-bars
          ul#login.dropdown
            li
              label Username
              input(type="text", ng-model="user.email")
            li
              label Password
              input(type="password", ng-model="user.password")
            li
              a(href="javascript:", ng-click="login(user)") Login
            li
              a(href="javascript:") Don't have an account? Register
        li(ng-if="isLoggedIn")
          a(href="javascript:")
            i.fa.fa-bars
          ul.dropdown
            li
              a(href="/admin/posts") Manage posts
            li
              a(href="/admin/users") Manage users
            li
              a(href="javascript:", ng-click="logout()") Logout
