.fixed(ng-include='"components/navbar/navbar.html"')

#cover.cover.fill(style="z-index: 0; background-image: url('{{post.cover}}'); position: fixed;")
.wrapper
	.page(style="margin-top: 50vh; z-index: 10; position: relative;")
		.content
			.section
				img(src="assets/images/platforms/windows-dark.png", height="48")
			.section
				h1 {{post.title}}
				//- h3 -- by Austin Kettner, Adrian Mateoaea and Alexandru I. Ion --
			.section
				p(ng-bind-html="post.content")
