.tile
    height 200px
    display inline-block
    position relative
    float left
    border 3px solid transparent
    &:hover
        border-color #FF6F00
    &.big
        height 350px
    
.tile-50
    width 50%
    
.tile-100
    width 100%
    
    
.tile-25
    width 25%
    
.tile-75
    width 75%
    
.item
    background #FF6F00
    // border 3px solid #37474F
    width 100%
    height 100%
    position relative
    &:hover
        .cover
            opacity 1
        .content
            opacity 0
    
.cover
    background-image url('http://www.xboxgamer.me/wp-content/uploads/2013/10/MasterChiefResinStatuePPIC4.jpg?w=922')
    background-position center center
    background-size cover
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index 5
    opacity .4
    transition opacity linear .3s
    
.content
    padding 20px 30px
    color white
    position relative
    z-index 10
    transition opacity linear .3s
