.tile
    height 200px
    display inline-block
    position relative
    float left
    border 1px solid transparent
    &:hover
        // border-color rgba(0,0,0,.2)
        .cover
            opacity 1
            filter grayscale(0)
            -webkit-filter grayscale(0)
        .content
            opacity 0
    &.big
        height 350px
   
.tile-33
    width 33.33%

.tile-50
    width 50%
    
.tile-100
    width 100%
    
.tile-25
    width 25%
    
.tile-25, .tile-33 p
    display none
    
.tile-75
    width 75%
    
.item
    background #FF6F00
    // border 3px solid #37474F
    width 100%
    height 100%
    position relative
    text-decoration none
    position relative
    display block
    overflow hidden
    text-shadow 0 2px 1px rgba(0,0,0,.2)
    .bottom
        position absolute
        left 0
        right 0
        bottom 0
    h1
        margin 5px 0
        font-size 26px
    p
        font-size 14px
    .cover
        opacity .2
            
.section
    margin-bottom 60px
    display block

h1
    margin-bottom 20px

h2
    margin-bottom 10px

p
    margin-bottom 10px
    
.cover
    background-image url('http://www.xboxgamer.me/wp-content/uploads/2013/10/MasterChiefResinStatuePPIC4.jpg?w=922')
    background-position center center
    background-size cover
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index 5
    transition opacity linear .3s
    
    filter grayscale(100%)
    -webkit-filter grayscale(100%)
    
.page
    margin-bottom 100px
    background white
    box-shadow 0 0 20px rgba(0,0,0,.1)
    &.dark
        background $dark_bg
        *
            color $dark_color
    &.no-shadow
        margin-bottom 5px
        box-shadow none
    *
        color: rgb(50,50,50)
    .content
        padding 80px 100px
        text-align center
        p
            text-align justify

.fill
    height 100vh
    
.content
    padding 15px 25px
    color white
    position relative
    z-index 10
    transition opacity linear .3s
