div(ng-include='"components/navbar/navbar.html"')

.wrapper
  .page.dark.no-shadow
    .vertical-form
      .row.group
        label Basic info
      .row
        label Name
        input.value(type="text", placeholder="Enter a value...", ng-model="user.name")
      .row
        label E-mail
        input.value(type="text", placeholder="Enter a value...", ng-model="user.email")
      .row
        label Password
        input.value(type="password", placeholder="Enter a value...", ng-model="user.password")
      .row
        label Role
        select.value(ng-model="user.role")
          option(value="user") User
          option(value="admin") Admin
      .row.group
        label
      a.row.highlight(href="javascript:", ng-click="addUser(user)", align="center") Save changes
