.list
  .list-item.separator
    input.block(type="text", placeholder="Search by name or e-mail", ng-model="filter.$")
  a.list-item.separator(href="javascript:", ng-click="create()", ng-class="{ 'selected': isNewUser }")
    span.list-title Register a new user
  a.list-item(href="javascript:", ng-repeat="i in users | filter:filter", ng-click="select(i)", ng-class="{ 'selected': selectedUser == i }")
    span.list-title {{i.name}}
    span.list-subtitle {{i.email}}
    span.list-more
      i.fa.fa-star(ng-show="i.role == 'admin' && !i.disabled")
      i.fa.fa-exclamation-circle(ng-show="i.disabled")
