div(ng-include='"components/navbar/navbar.html"')

.wrapper
	.page.dark.no-shadow
		.vertical-form

			//- Group
			.row.group
				label Basic info
			.row
				label Title
				input.value(type="text", placeholder="Enter a value...", ng-model="result.title")
			.row
				label Content
				input.value(type="text", placeholder="Enter a value...", ng-model="result.content")
			.row
				label Cover
				input.value(type="text", placeholder="Enter a value...", ng-model="result.coveer")
			.row
				label Date Published
				input.value(type="date", ng-model="result.date")
			.row
				label Options
				.value.group
					a.toggle(href="javascript:", ng-class="{disabled: !result.featured}", ng-click="result.featured = !result.featured") Featured
					a.toggle(href="javascript:", ng-class="{disabled: !result.pub.published}", ng-click="result.pub.published = !result.pub.published") Published
					a.toggle(href="javascript:", ng-class="{disabled: !result.gameCard.enabled}", ng-click="result.gameCard.enabled = !result.gameCard.enabled") Game Card

			//- Group
			.row.group
				label Post authors
			.row
				label
				.value
					a.toggle(href="javascript:", ng-repeat="i in result.authors", ng-click="result.authors.splice(result.authors.indexOf(i), 1);") {{i.name}}
			.row
				label Select a user
				span.value.custom
					a.toggle(href="javascript:", ng-repeat="user in users", ng-click="result.authors.push(user)") {{user.name}}
			
			//- Group
			.row.group
				label Post tags
			.row
				label Tags
				.value
					a.toggle(href="javascript:", ng-repeat="i in result.tags", ng-click="result.tags.splice(result.tags.indexOf(i), 1);") {{i}}
			.row
				form(ng-submit="result.tags.push(newTagName)")
					label
					input.value(type="text", placeholder="Enter a new tag...", ng-model="newTagName")

			//- Group
			.row.group(ng-show="result.gameCard.enabled")
				label Game Card
			.row(ng-show="result.gameCard.enabled")
				label Game Name
				input.value(type="text", placeholder="Enter a value...", ng-model="result.gameCard.gameName")
			.row(ng-show="result.gameCard.enabled")
				label Publisher
				input.value(type="text", placeholder="Enter a value...", ng-model="result.gameCard.pub.rowsher")
			.row(ng-show="result.gameCard.enabled")
				label Developer
				input.value(type="text", placeholder="Enter a value...", ng-model="result.gameCard.developer")
			.row(ng-show="result.gameCard.enabled")
				label Platforms
				.value.group(ng-init="platforms = ['iOS', 'Android', 'Windows Phone', 'OSX', 'Windows', 'Linux']")
					a.toggle(href="javascript:", ng-repeat="i in platforms", ng-class="{disabled: result.gameCard.platforms.indexOf(i) == -1}", ng-click="togglePlatform(i)") {{i}}
			.row(ng-show="result.gameCard.enabled")
				label Price
				input.value(type="text", placeholder="Enter a value...", ng-model="result.gameCard.price")
			.row(ng-show="result.gameCard.enabled")
				label Website
				input.value(type="text", placeholder="Enter a value...", ng-model="result.gameCard.website")
			.row(ng-show="result.gameCard.enabled")
				label Social
				.value
					.block
						| Facebook
						br
						input.value(placeholder="Enter a value...", ng-model="value")
					.block
						| Twitter
						br
						input.value(placeholder="Enter a value...", ng-model="value")
					.block
						| Youtube
						br
						input.value(placeholder="Enter a value...", ng-model="value")
					.block
						| Facebook
						br
						input.value(placeholder="Enter a value...", ng-model="value")
					.block
						| Facebook
						br
						input.value(placeholder="Enter a value...", ng-model="value")
			.row(ng-show="result.gameCard.enabled")
				label Release Date
				input.value(type="date", placeholder="Enter a value...", ng-model="result.gameCard.releaseDate")
			.row(ng-show="result.gameCard.enabled")
				label Relevant posts
				.value(ng-init="platforms = ['iOS', 'Android', 'Windows Phone', 'OSX', 'Windows', 'Linux']")
					a.toggle(href="javascript:", ng-repeat="i in platforms", ng-class="{disabled: result.gameCard.platforms.indexOf(i) == -1}", ng-click="togglePlatform(i)") {{i}}
			//- .row(ng-show="result.gameCard.enabled")
				form(ng-submit="result.gameCard.relevantGameIds.push(newRelevantGame); newRelevantGame = null;")
					label
					input.value(type="text", placeholder="Enter a new game...", ng-model="newRelevantGame")
			.row.group
				label
			a.row.highlight.option.block(href="javascript:", align="center", ng-click="update(result)") Save changes
