.detail
  div(ng-show="selectedPost")
    //- 
    textarea(ng-model="selectedPost.content", redactor)
    //- 
    img(src="{{selectedPost.cover}}", height="120", ng-hide="newPhoto")
    img(src="{{newPhoto}}", height="120", ng-show="newPhoto")
    //- 
    .detail-title
      span(ng-show="progress") Uploading... ({{progress}}%) 
      input(type="file", onchange="angular.element(this).scope().photoFileChanged(this)")
    //- 
    span.detail-title Title
    input(type="text", ng-model="selectedPost.title")
    //- 
    span.detail-title Date
    input(type="date", ng-model="selectedPost.date", json-string-to-date)
    //- 
    span.detail-title Authors
    .block
      a.tag(href="javascript:", ng-repeat="i in selectedPost.authors", ng-click="removeFromList(selectedPost.authors, i)") {{i.name}}
    .block
      a.tag.disabled(href="javascript:", ng-repeat="i in users | filter:{ role: 'admin' }", ng-click="addToList(selectedPost.authors, i)") {{i.name}}
    //- 
    span.detail-title Tags
    form(ng-submit="addToList(selectedPost.tags, newTag)", novalidate)
      input(type="text", ng-model="newTag", placeholder="Type new tag...")
    .detail-title
      a.tag(href="javascript:", ng-repeat="i in selectedPost.tags", ng-click="removeFromList(selectedPost.tags, i)") {{i}}
    //- 
    span.detail-title Featured
    select(ng-model="selectedPost.featured", ng-options="o.v as o.n for o in [{ n: 'Not featured', v: false }, { n: 'Featured', v: true }]")
    //- 
    span.detail-title Published
    select(ng-model="selectedPost.published", ng-options="o.v as o.n for o in [{ n: 'Not published', v: false }, { n: 'Published', v: true }]")
    //- 
    span.detail-title Game Card
    select(ng-model="selectedPost.gameCard.enabled", ng-options="o.v as o.n for o in [{ n: 'Without game card', v: false }, { n: 'With game card', v: true }]")
    //- 
    div(ng-show="selectedPost.gameCard.enabled")
      //- 
      span.detail-title Game Name
      input(type="text", ng-model="selectedPost.gameCard.gameName")
      //- 
      span.detail-title Publisher
      input(type="text", ng-model="selectedPost.gameCard.publisher")
      //- 
      span.detail-title Developer
      input(type="text", ng-model="selectedPost.gameCard.developer")
      //- 
      span.detail-title(ng-init="platforms = ['iOS', 'Android', 'Windows Phone', 'Windows', 'OSX', 'Linux']") Platforms
      a.tag(href="javascript:", ng-repeat="i in platforms", ng-click="toggleItemInList(selectedPost.gameCard.platforms, i)", ng-class="{ 'disabled': selectedPost.gameCard.platforms.indexOf(i) == -1 }") {{i}}
      //- 
      span.detail-title Price
      input(type="text", ng-model="selectedPost.gameCard.price")
      //- 
      span.detail-title Website
      input(type="text", ng-model="selectedPost.gameCard.website")
      //- 
      span.detail-title Social
      .block
        span.detail-title Facebook
        input(type="text", ng-model="selectedPost.gameCard.social.facebook")
      .block
        span.detail-title Twitter
        input(type="text", ng-model="selectedPost.gameCard.social.twitter")
      .block
        span.detail-title Google
        input(type="text", ng-model="selectedPost.gameCard.social.google")
      .block
        span.detail-title Pinterest
        input(type="text", ng-model="selectedPost.gameCard.social.pinterest")
      .block
        span.detail-title Instagram
        input(type="text", ng-model="selectedPost.gameCard.social.instagram")
      .block
        span.detail-title Youtube
        input(type="text", ng-model="selectedPost.gameCard.social.youtube")
      //- 
      span.detail-title Release Date
      input(type="date", ng-model="selectedPost.gameCard.releaseDate", json-string-to-date)
      //- 
      span.detail-title Relevant Games
      .block
        a.tag(href="javascript:", ng-repeat="i in selectedPost.gameCard.relevantGames", ng-click="removeFromList(selectedPost.gameCard.relevantGames, i)") {{i.title}}
      .block
        //-  | filter:{ gameCard.enabled: true }
        a.tag.disabled(href="javascript:", ng-repeat="i in relevant", ng-click="addToList(selectedPost.gameCard.relevantGames, i)") {{i.title}}
    //- 
    .detail-title(ng-hide="isNewPost")
      a.button(href="javascript:", ng-click="save(selectedPost)") Save changes
    //- 
    .detail-title(ng-show="isNewPost")
      a.button(href="javascript:", ng-click="publish(selectedPost)") Add post
