.detail
  div(ng-show="selectedPost")
    //- 
    textarea(ng-model="selectedPost.content", redactor)
    //- 
    img(src="{{selectedPost.cover}}", height="120", ng-hide="newPhoto")
    img(src="{{newPhoto}}", height="120", ng-show="newPhoto")
    //- 
    .detail-title
      span(ng-show="progress") Uploading... ({{progress}}%) 
      input(type="file", onchange="angular.element(this).scope().photoFileChanged(this)")
    //- 
    span.detail-title Title
    input(type="text", ng-model="selectedPost.title")
    //- 
    span.detail-title Date
    input(type="date", ng-model="selectedPost.date")
    //- 
    span.detail-title Authors
    span.tag(ng-repeat="i in selectedPost.authors") {{i.name}}
    form(ng-submit="selectedPost.authors.push(newAuthor)", novalidate)
      input(type="text", ng-model="newAuthor", placeholder="Type new author...")
    //- 
    span.detail-title Tags
    span.tag(ng-repeat="i in selectedPost.tags") {{i}}
    form(ng-submit="selectedPost.tags.push(newTag)", novalidate)
      input(type="text", ng-model="newTag", placeholder="Type new tag...")
    //- 
    span.detail-title Featured
    select(ng-model="selectedPost.featured", ng-options="o.v as o.n for o in [{ n: 'Not featured', v: false }, { n: 'Featured', v: true }]")
    //- 
    span.detail-title Published
    select(ng-model="selectedPost.published", ng-options="o.v as o.n for o in [{ n: 'Not published', v: false }, { n: 'Published', v: true }]")
    //- 
    span.detail-title Game Card
    select(ng-model="selectedPost.gameCard.enabled", ng-options="o.v as o.n for o in [{ n: 'Without game card', v: false }, { n: 'With game card', v: true }]")
    //- 
    div(ng-hide="isNewPost")
      .detail-title
        a.button(href="javascript:", ng-click="save(selectedPost)") Save changes
      .detail-title
        a.button-link(href="javascript:", ng-click="delete(selectedPost)") Delete post
    //- 
    .detail-title(ng-show="isNewPost")
      a.button(href="javascript:", ng-click="publish(selectedPost)") Add post
