#admin
  div(ng-include='"components/navbar/admin.html"')
  div(ng-include='"app/admin/posts/posts.html"')
  div(ng-include='"app/admin/posts/form.html"')



//- #admin
  //- Sidebar
  .sidebar
    a.sidebar-item(href="/")
      i.fa.fa-home
    a.sidebar-item.selected(href="/admin/posts")
      i.fa.fa-pencil
    a.sidebar-item(href="/admin/users")
      i.fa.fa-user
    a.sidebar-item.bottom(href="javascript:", ng-click="logout()")
      i.fa.fa-unlock

  //- List
  .list
    .search-item
      input(type="text", placeholder="Search by title or content", ng-model="filter.$")
    .group.section
      | Filter blog posts
      .block
        select.input(ng-model="filter.gameCard.enabled", ng-options="o.v as o.n for o in [{ n: 'all', v: undefined }, { n: 'without game card', v: false }, { n: 'with game card', v: true }]", style="min-width: 0; display: inline; position: relative; top: 1px;")
    p.group.section
      | Blog posts ({{posts.length}}) - 
      a(href="javascript:", ng-click="create()") add
    a.list-item(href="javascript:", ng-repeat="i in posts | filter:filter", ng-click="select(i)", ng-class="{ 'selected': selectedPost == i }")
      | {{i.title}}
      span.info(ng-show="i.featured && i.published")
        i.fa.fa-star
      span.info(ng-show="!i.published")
        i.fa.fa-exclamation-circle

  //- Detail
  .detail
    p(ng-hide="selectedPost") Click a post to show its details
    div(ng-show="selectedPost")
      a(href="javascript:", ng-click="cancel()", style="position: fixed; top: 20px; right: 30px;")
        i.fa.fa-times

      .section
        input.header.title(type="text", placeholder="Full name", ng-model="selectedPost.title")
        input.header.subtitle(type="date", placeholder="E-mail address", ng-model="selectedPost.date")

      .section
        textarea(ng-model="selectedPost.content", redactor1)

      .section
        p
          | Post cover (
          a.button-link(href="javascript:") remove
          | )
        img(src="http://shackmanlab.org/wp-content/uploads/2013/07/person-placeholder.jpg", ng-file-src="selectedPostphoto", height="120")
        div
          input(type="file", ng-file-model="selectedPostphoto")

      .section
        p Authors
        a.input.selected(href="javascript:", ng-repeat="i in users") {{i.name}}
      .section
        input.input.block(type="text")
        .block
          a.input(href="javascript:", ng-repeat="i in users") {{i.name}}
      .section
        p Featured
        select.input.block(ng-model="selectedPost.featured", ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]")

      .section
        p Published
        select.input.block(ng-model="selectedPost.published", ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]")

      .section
        p Game Card
        select.input.block(ng-model="selectedPost.gameCard.enabled", ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]")

      div(ng-show="selectedPost.gameCard.enabled")
        .section
          p Game Name
          input.input.block(ng-model="selectedPost.gameCard.gameName")
        .section
          p Release Date
          input.input.block(ng-model="selectedPost.gameCard.gameName")
        .section
          p Publisher
          input.input.block(ng-model="selectedPost.gameCard.gameName")
        .section
          p Developer
          input.input.block(ng-model="selectedPost.gameCard.gameName")
        .section(ng-init="platforms = ['iOS', 'Android', 'Windows Phone', 'OSX', 'Windows', 'Linux']")
          p Platforms
          a.input(ng-class="{ 'selected': $index % 2 == 0 }", href="javascript:", ng-repeat="i in platforms") {{i}}
        .section
          p Price
          input.input.block(ng-model="selectedPost.gameCard.gameName")
        .section
          p Website
          input.input.block(ng-model="selectedPost.gameCard.gameName")
        .section
          p Social
          .block
            input.input.block(ng-model="selectedPost.gameCard.gameName")
            span (facebook)
          .block
            input.input.block(ng-model="selectedPost.gameCard.gameName")
            span (twitter)
          .block
            input.input.block(ng-model="selectedPost.gameCard.gameName")
            span (google+)
          .block
            input.input.block(ng-model="selectedPost.gameCard.gameName")
            span (pinterest)
          .block
            input.input.block(ng-model="selectedPost.gameCard.gameName")
            span (instagram)
          .block
            input.input.block(ng-model="selectedPost.gameCard.gameName")
            span (youtube)
        .section
          p Relevant Games
          input.input.block(ng-model="selectedPost.gameCard.gameName")

      div(ng-hide="newPost")
        .section
          a.button(href="javascript:", ng-click="save(selectedPost)") Save changes
        a.button-link.danger(href="javascript:", ng-click="delete(selectedPost)") Delete post

      div(ng-show="newPost")
        a.button(href="javascript:", ng-click="register(selectedPost)") Register
