.list
  .list-item.separator
    input.block(type="text", placeholder="Search by title or content", ng-model="filter.$")
  a.list-item.separator(href="javascript:", ng-click="create()", ng-class="{ 'selected': isNewPost }")
    span.list-title Create a new blog post
  a.list-item(href="javascript:", ng-repeat="i in posts | filter:filter", ng-click="select(i)", ng-class="{ 'selected': selectedPost == i }")
    span.list-title {{i.title}}
    span.list-subtitle {{i.date | date:'MMM dd, yyyy'}}
    span.list-more
      i.fa.fa-star(ng-show="i.featured && i.published")
      i.fa.fa-exclamation-circle(ng-show="!i.published")
